@model IEnumerable<WebsiteDental.Models.ServiceFeature>
<!-- Feature Start -->
<div class="container-fluid feature bg-light py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Dịch vụ nổi bật</h4>
            <h1 class="display-4 mb-4">"Dịch vụ nha khoa chuyên nghiệp - Công nghệ tiên tiến"</h1>
            <p class="mb-0" style="color: #0a4776;">
                Phòng khám răng hàm mặt chúng tôi tự hào cung cấp các dịch vụ nha khoa toàn diện với công nghệ hiện đại và đội ngũ bác sĩ giàu kinh nghiệm. Chúng tôi cam kết mang đến những giải pháp điều trị hiệu quả, an toàn và thoải mái nhất cho mọi vấn đề răng miệng của bạn.
            </p>
        </div>

        <div class="row g-4">
            <!--BẮT ĐẦU VÒNG LẶP ĐÂY -->

            @foreach (var n in Model)
            {
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="feature-item p-4 pt-0">
                    <div class="feature-icon p-4 mb-4">
                        <i class="@n.Icon fa-3x"></i>
                    </div>
                    <h4 class="mb-4">@n.Title</h4>
                        <p class="mb-4" style="color: #0a4776;">
                       @n.Description
                    </p>
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="#">XEM THÊM</a>
                </div>
            </div>

            }
            <!--KẾT THÚC VÒNG LẶP ĐÂY -->

        </div>
    </div>
</div>
<!-- Feature End -->
