  <!-- Carousel Start -->
<div class="header-carousel owl-carousel">
    <div class="header-carousel-item bg-primary">
        <div class="carousel-caption">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-7 animated fadeInLeft">
                        <div class="text-sm-center text-md-start">
                            <h4 class="text-white text-uppercase fw-bold mb-4">Điều trị tận tâm - Phục hồi nụ cười tự tin</h4>
                            <h1 class="display-1 text-white mb-4">Răng - Hàm - Mặt</h1>
                            <p class="mb-5 fs-5" style="color: white !important;">
                                Tại WebsiteDental, chúng tôi tin rằng mỗi bệnh nhân đều xứng đáng được chăm sóc cá nhân hóa và tôn trọng. Chúng tôi lắng nghe mọi lo lắng của bạn, giải thích chi tiết về tình trạng và phương pháp điều trị, đồng thời đảm bảo bạn hoàn toàn thoải mái trong suốt quá trình thăm khám.
                            </p>

                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="#"><i class="fas fa-play-circle me-2"></i> Liên hệ ngay!</a>
                                <a class="btn btn-dark rounded-pill py-3 px-4 px-md-5 ms-2" href="#">Đặt lịch khám trực tuyến</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 animated fadeInRight">
                        <div class="calrousel-img" style="object-fit: cover;">
                            <img src="~/assets/img/doctor.png" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Discounts Start -->
@await Component.InvokeAsync("Discounts")
<!-- Discounts End -->
@await Component.InvokeAsync("ServiceFeatures")
<!-- Doctors Start -->
@await Component.InvokeAsync("Doctors")
<!-- Doctors End -->

@await Component.InvokeAsync("ImageGallery")

<!-- Service Start -->
@await Component.InvokeAsync("Services")
<!-- Service End -->

<!-- FAQs Start -->
@await Component.InvokeAsync("FQAs")
<!-- FAQs End -->

<!-- Blog Start -->
@await Component.InvokeAsync("BlogPosts")
<!-- Blog End -->

<!-- Testimonial Start -->
@await Component.InvokeAsync("CustomerReviews")
<!-- Testimonial End -->
